<div class="bg-banner">

    <div class="card text-primary">
        <div class="text">
            <h1 class="card-header"><span class="text-white">Title: </span>{{current.title}}</h1>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-3">
                        <img src="{{current.picUrl}}" alt="">
                    </div>
                    <div class="col-md-9">
                        <h2><span class="text-white">Author: </span>{{current.author}}</h2>
                        <h3><span class="text-white">Series: </span>{{current.series}} <span class="float-end" *ngIf="current.haveRead == true"></span></h3>
                        <hr class="my-4">
                        <p [ngClass]="{'limitText': isReadMore}" style="white-space: pre-wrap;"><span class="text-white">Description </span> <br>{{current.description}}</p>
                        <button class="btn btn-outline-primary" (click)="showMore()">{{ isReadMore ? 'Show More': 'Show Less'}}</button>
                    </div>
                </div>
            </div> 
        </div>
    </div>
    
</div>
