<div class="bg-banner">

    <div class="card text-primary">
        <div class="text">
            <h2 class="card-header">{{current.title}}</h2>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-3">
                        <img src="{{current.picUrl}}" alt="">
                    </div>
                    <div class="col-md-9">
                        <h3>{{current.author}}</h3>
                        <p>{{current.series}} <span class="float-end" *ngIf="current.haveRead == true"></span></p>
                        <p style="white-space: pre-wrap;">{{current.description}}</p>
                    </div>
                </div>
            </div> 
        </div>
    </div>
    
</div>
